<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>
<body>
<div class="s_main">
    <h4>按照拼音首字母选择</h4>
    <div class="all_city">
        <dl>
            <dt>A</dt>
            <dd>
                              <a href="/city/city/aba">阿坝</a>
                              <a href="/city/city/ankang">安康</a>
                              <a href="/city/city/akesu">阿克苏</a>
                              <a href="/city/city/ali">阿里</a>
                              <a href="/city/city/alaer">阿拉尔</a>
                              <a href="/city/city/alashanmeng">阿拉善盟</a>
                              <a href="/city/city/aletai">阿勒泰</a>
                              <a href="/city/city/aomen">澳门</a>
                              <a href="/city/city/anqing">安庆</a>
                              <a href="/city/city/anshan">鞍山</a>
                              <a href="/city/city/anshun">安顺</a>
                              <a href="/city/city/anyang">安阳</a>
                
            </dd>
        </dl>
                <dl>
            <dt>B</dt>
            <dd>
                              <a href="/city/city/bangbu">蚌埠</a>
                              <a href="/city/city/baicheng">白城</a>
                              <a href="/city/city/baoding">保定</a>
                              <a href="/city/city/boertala">博尔塔拉</a>
                              <a href="/city/city/beihai">北海</a>
                              <a href="/city/city/bj">北京</a>
                              <a href="/city/city/baoji">宝鸡</a>
                              <a href="/city/city/bijie">毕节</a>
                              <a href="/city/city/baishan">白山</a>
                              <a href="/city/city/baise">百色</a>
                              <a href="/city/city/baoshan">保山</a>
                              <a href="/city/city/baotou">包头</a>
                              <a href="/city/city/benxi">本溪</a>
                              <a href="/city/city/baiyin">白银</a>
                              <a href="/city/city/bayinguole">巴音郭勒</a>
                              <a href="/city/city/bayannaoermeng">巴彦淖尔盟</a>
                              <a href="/city/city/haozhou">亳州</a>
                              <a href="/city/city/binzhou">滨州</a>
                              <a href="/city/city/bazhong">巴中</a>
                
            </dd>
        </dl>
                        <dl>
            <dt>C</dt>
            <dd>
                              <a href="/city/city/changchun">长春</a>
                              <a href="/city/city/chengde">承德</a>
                              <a href="/city/city/changde">常德</a>
                              <a href="/city/city/changdu">昌都</a>
                              <a href="/city/city/chengdu">成都</a>
                              <a href="/city/city/chifeng">赤峰</a>
                              <a href="/city/city/chaohu">巢湖</a>
                              <a href="/city/city/changji">昌吉</a>
                              <a href="/city/city/changsha">长沙</a>
                              <a href="/city/city/chuxiong">楚雄</a>
                              <a href="/city/city/chaoyang">朝阳</a>
                              <a href="/city/city/cangzhou">沧州</a>
                              <a href="/city/city/changzhi">长治</a>
                              <a href="/city/city/changzhou">常州</a>
                              <a href="/city/city/chuzhou">滁州</a>
                              <a href="/city/city/chizhou">池州</a>
                              <a href="/city/city/chenzhou">郴州</a>
                              <a href="/city/city/chaozhou">潮州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>D</dt>
            <dd>
                              <a href="/city/city/dandong">丹东</a>
                              <a href="/city/city/dongguan">东莞</a>
                              <a href="/city/city/dehong">德宏</a>
                              <a href="/city/city/dalian">大连</a>
                              <a href="/city/city/dali">大理</a>
                              <a href="/city/city/daqing">大庆</a>
                              <a href="/city/city/diqing">迪庆</a>
                              <a href="/city/city/datong">大同</a>
                              <a href="/city/city/dingxi">定西</a>
                              <a href="/city/city/daxinganling">大兴安岭</a>
                              <a href="/city/city/dongying">东营</a>
                              <a href="/city/city/deyang">德阳</a>
                              <a href="/city/city/dezhou">德州</a>
                              <a href="/city/city/dazhou">达州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>E</dt>
            <dd>
                              <a href="/city/city/eerduosishi">鄂尔多斯市</a>
                              <a href="/city/city/enshi">恩施</a>
                              <a href="/city/city/ezhou">鄂州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>F</dt>
            <dd>
                              <a href="/city/city/fangchenggang">防城港</a>
                              <a href="/city/city/fushun">抚顺</a>
                              <a href="/city/city/foshan">佛山</a>
                              <a href="/city/city/fuxin">阜新</a>
                              <a href="/city/city/fuyang">阜阳</a>
                              <a href="/city/city/fjfuzhou">福州</a>
                              <a href="/city/city/fuzhou">抚州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>G</dt>
            <dd>
                              <a href="/city/city/guangan">广安</a>
                              <a href="/city/city/guigang">贵港</a>
                              <a href="/city/city/guoluo">果洛</a>
                              <a href="/city/city/guilin">桂林</a>
                              <a href="/city/city/gannan">甘南</a>
                              <a href="/city/city/guyuan">固原</a>
                              <a href="/city/city/guiyang">贵阳</a>
                              <a href="/city/city/guangyuan">广元</a>
                              <a href="/city/city/ganzhou">赣州</a>
                              <a href="/city/city/guangzhou">广州</a>
                              <a href="/city/city/ganzi">甘孜</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>H</dt>
            <dd>
                              <a href="/city/city/huaian">淮安</a>
                              <a href="/city/city/huaibei">淮北</a>
                              <a href="/city/city/hebi">鹤壁</a>
                              <a href="/city/city/haibei">海北</a>
                              <a href="/city/city/hechi">河池</a>
                              <a href="/city/city/handan">邯郸</a>
                              <a href="/city/city/haidong">海东</a>
                              <a href="/city/city/haerbin">哈尔滨</a>
                              <a href="/city/city/hefei">合肥</a>
                              <a href="/city/city/hegang">鹤岗</a>
                              <a href="/city/city/huanggang">黄冈</a>
                              <a href="/city/city/heihe">黑河</a>
                              <a href="/city/city/huaihua">怀化</a>
                              <a href="/city/city/honghe">红河</a>
                              <a href="/city/city/huhehaote">呼和浩特</a>
                              <a href="/city/city/haikou">海口</a>
                              <a href="/city/city/hulunbeiershi">呼伦贝尔市</a>
                              <a href="/city/city/huludao">葫芦岛</a>
                              <a href="/city/city/hami">哈密</a>
                              <a href="/city/city/huainan">淮南</a>
                              <a href="/city/city/hainan">海南</a>
                              <a href="/city/city/hengshui">衡水</a>
                              <a href="/city/city/huangshan">黄山</a>
                              <a href="/city/city/huangshi">黄石</a>
                              <a href="/city/city/hetian">和田</a>
                              <a href="/city/city/haixi">海西</a>
                              <a href="/city/city/hengyang">衡阳</a>
                              <a href="/city/city/heyuan">河源</a>
                              <a href="/city/city/hangzhou">杭州</a>
                              <a href="/city/city/huzhou">湖州</a>
                              <a href="/city/city/heze">菏泽</a>
                              <a href="/city/city/hanzhong">汉中</a>
                              <a href="/city/city/huizhou">惠州</a>
                              <a href="/city/city/hezhou">贺州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>J</dt>
            <dd>
                              <a href="/city/city/jian">吉安</a>
                              <a href="/city/city/jincheng">晋城</a>
                              <a href="/city/city/jinchang">金昌</a>
                              <a href="/city/city/jingdezhen">景德镇</a>
                              <a href="/city/city/jinhua">金华</a>
                              <a href="/city/city/jiujiang">九江</a>
                              <a href="/city/city/jilin">吉林</a>
                              <a href="/city/city/jingmen">荆门</a>
                              <a href="/city/city/jiangmen">江门</a>
                              <a href="/city/city/jiamusi">佳木斯</a>
                              <a href="/city/city/jinan">济南</a>
                              <a href="/city/city/jining">济宁</a>
                              <a href="/city/city/jiuquan">酒泉</a>
                              <a href="/city/city/jixi">鸡西</a>
                              <a href="/city/city/jiaxing">嘉兴</a>
                              <a href="/city/city/jiyuan">济源</a>
                              <a href="/city/city/jieyang">揭阳</a>
                              <a href="/city/city/jiayuguan">嘉峪关</a>
                              <a href="/city/city/jinzhong">晋中</a>
                              <a href="/city/city/jinzhou">锦州</a>
                              <a href="/city/city/jiaozuo">焦作</a>
                              <a href="/city/city/jingzhou">荆州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>K</dt>
            <dd>
                              <a href="/city/city/kaifeng">开封</a>
                              <a href="/city/city/kelamayi">克拉玛依</a>
                              <a href="/city/city/kunming">昆明</a>
                              <a href="/city/city/kashi">喀什</a>
                              <a href="/city/city/kezilesukeerkezi">克孜勒苏柯尔克孜</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>L</dt>
            <dd>
                              <a href="/city/city/liuan">六安</a>
                              <a href="/city/city/laibin">来宾</a>
                              <a href="/city/city/liaocheng">聊城</a>
                              <a href="/city/city/lincang">临沧</a>
                              <a href="/city/city/loudi">娄底</a>
                              <a href="/city/city/langfang">廊坊</a>
                              <a href="/city/city/linfen">临汾</a>
                              <a href="/city/city/luohe">漯河</a>
                              <a href="/city/city/lijiang">丽江</a>
                              <a href="/city/city/lvliang">吕梁</a>
                              <a href="/city/city/longnan">陇南</a>
                              <a href="/city/city/liupanshui">六盘水</a>
                              <a href="/city/city/lishui">丽水</a>
                              <a href="/city/city/lasa">拉萨</a>
                              <a href="/city/city/leshan">乐山</a>
                              <a href="/city/city/liangshan">凉山</a>
                              <a href="/city/city/laiwu">莱芜</a>
                              <a href="/city/city/linxia">临夏</a>
                              <a href="/city/city/liaoyang">辽阳</a>
                              <a href="/city/city/liaoyuan">辽源</a>
                              <a href="/city/city/longyan">龙岩</a>
                              <a href="/city/city/linyi">临沂</a>
                              <a href="/city/city/luoyang">洛阳</a>
                              <a href="/city/city/lianyungang">连云港</a>
                              <a href="/city/city/lanzhou">兰州</a>
                              <a href="/city/city/linzhi">林芝</a>
                              <a href="/city/city/liuzhou">柳州</a>
                              <a href="/city/city/luzhou">泸州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>M</dt>
            <dd>
                              <a href="/city/city/maanshan">马鞍山</a>
                              <a href="/city/city/mudanjiang">牡丹江</a>
                              <a href="/city/city/maoming">茂名</a>
                              <a href="/city/city/meishan">眉山</a>
                              <a href="/city/city/mianyang">绵阳</a>
                              <a href="/city/city/meizhou">梅州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>N</dt>
            <dd>
                              <a href="/city/city/ningbo">宁波</a>
                              <a href="/city/city/nanchang">南昌</a>
                              <a href="/city/city/nanchong">南充</a>
                              <a href="/city/city/ningde">宁德</a>
                              <a href="/city/city/nanjing">南京</a>
                              <a href="/city/city/neijiang">内江</a>
                              <a href="/city/city/nujiang">怒江</a>
                              <a href="/city/city/nanning">南宁</a>
                              <a href="/city/city/nanping">南平</a>
                              <a href="/city/city/naqu">那曲</a>
                              <a href="/city/city/nantong">南通</a>
                              <a href="/city/city/nanyang">南阳</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>P</dt>
            <dd>
                              <a href="/city/city/pingdingshan">平顶山</a>
                              <a href="/city/city/panjin">盘锦</a>
                              <a href="/city/city/pingliang">平凉</a>
                              <a href="/city/city/putian">莆田</a>
                              <a href="/city/city/pingxiang">萍乡</a>
                              <a href="/city/city/puyang">濮阳</a>
                              <a href="/city/city/panzhihua">攀枝花</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>Q</dt>
            <dd>
                              <a href="/city/city/qingdao">青岛</a>
                              <a href="/city/city/qiandongnan">黔东南</a>
                              <a href="/city/city/qinhuangdao">秦皇岛</a>
                              <a href="/city/city/qianjiang">潜江</a>
                              <a href="/city/city/qujing">曲靖</a>
                              <a href="/city/city/qiannan">黔南</a>
                              <a href="/city/city/qiqihaer">齐齐哈尔</a>
                              <a href="/city/city/qitaihe">七台河</a>
                              <a href="/city/city/qianxinan">黔西南</a>
                              <a href="/city/city/qingyang">庆阳</a>
                              <a href="/city/city/qingyuan">清远</a>
                              <a href="/city/city/zhou">衢州</a>
                              <a href="/city/city/quanzhou">泉州</a>
                              <a href="/city/city/qinzhou">钦州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>R</dt>
            <dd>
                              <a href="/city/city/rikaze">日喀则</a>
                              <a href="/city/city/rizhao">日照</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>S</dt>
            <dd>
                              <a href="/city/city/simao">思芧</a>
                              <a href="/city/city/shaoguan">韶关</a>
                              <a href="/city/city/shanghai">上海</a>
                              <a href="/city/city/suihua">绥化</a>
                              <a href="/city/city/shihezi">石河子</a>
                              <a href="/city/city/shijiazhuang">石家庄</a>
                              <a href="/city/city/shangluo">商洛</a>
                              <a href="/city/city/shenlongjialinqu">神龙架林区</a>
                              <a href="/city/city/sanming">三明</a>
                              <a href="/city/city/sanmenxia">三门峡</a>
                              <a href="/city/city/shannan">山南</a>
                              <a href="/city/city/suining">遂宁</a>
                              <a href="/city/city/siping">四平</a>
                              <a href="/city/city/suqian">宿迁</a>
                              <a href="/city/city/shangqiu">商丘</a>
                              <a href="/city/city/shangrao">上饶</a>
                              <a href="/city/city/shantou">汕头</a>
                              <a href="/city/city/shanwei">汕尾</a>
                              <a href="/city/city/shaoxing">绍兴</a>
                              <a href="/city/city/shenyang">沈阳</a>
                              <a href="/city/city/songyuan">松原</a>
                              <a href="/city/city/shiyan">十堰</a>
                              <a href="/city/city/shaoyang">邵阳</a>
                              <a href="/city/city/sanya">三亚</a>
                              <a href="/city/city/shuangyashan">双鸭山</a>
                              <a href="/city/city/shuozhou">朔州</a>
                              <a href="/city/city/suzhou">苏州</a>
                              <a href="/city/city/ahsz">宿州</a>
                              <a href="/city/city/suizhou">随州</a>
                              <a href="/city/city/shenzhen">深圳</a>
                              <a href="/city/city/suizuo">祟左</a>
                              <a href="/city/city/shizuishan">石嘴山</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>T</dt>
            <dd>
                              <a href="/city/city/taian">泰安</a>
                              <a href="/city/city/tacheng">塔城</a>
                              <a href="/city/city/tongchuan">铜川</a>
                              <a href="/city/city/tonghua">通化</a>
                              <a href="/city/city/tianjin">天津</a>
                              <a href="/city/city/tieling">铁岭</a>
                              <a href="/city/city/tongling">铜陵</a>
                              <a href="/city/city/tulufan">吐鲁番</a>
                              <a href="/city/city/tongliaoshi">通辽市</a>
                              <a href="/city/city/tianmen">天门</a>
                              <a href="/city/city/tumushuke">图木舒克</a>
                              <a href="/city/city/tongren">铜仁</a>
                              <a href="/city/city/tangshan">唐山</a>
                              <a href="/city/city/tianshui">天水</a>
                              <a href="/city/city/taiwan">台湾</a>
                              <a href="/city/city/taiyuan">太原</a>
                              <a href="/city/city/taizhou">泰州</a>
                              <a href="/city/city/taizh">台州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>W</dt>
            <dd>
                              <a href="/city/city/weifang">潍坊</a>
                              <a href="/city/city/wuhai">乌海</a>
                              <a href="/city/city/wuhu">芜湖</a>
                              <a href="/city/city/weihai">威海</a>
                              <a href="/city/city/wuhan">武汉</a>
                              <a href="/city/city/wujiaqu">五家渠</a>
                              <a href="/city/city/wulanchabumeng">乌兰察布盟</a>
                              <a href="/city/city/wulumuqi">乌鲁木齐</a>
                              <a href="/city/city/weinan">渭南</a>
                              <a href="/city/city/wenshan">文山</a>
                              <a href="/city/city/wuwei">武威</a>
                              <a href="/city/city/wuxi">无锡</a>
                              <a href="/city/city/wenzhou">温州</a>
                              <a href="/city/city/wuzhong">吴忠</a>
                              <a href="/city/city/wuzhou">梧州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>X</dt>
            <dd>
                              <a href=" /city/city/xian">西安</a>
                              <a href=" /city/city/xinganmeng">兴安盟</a>
                              <a href=" /city/city/xuancheng">宣城</a>
                              <a href=" /city/city/xuchang">许昌</a>
                              <a href=" /city/city/xiangfan">襄樊</a>
                              <a href=" /city/city/xiaogan">孝感</a>
                              <a href=" /city/city/xianggang">香港</a>
                              <a href=" /city/city/xilinguolemeng">锡林郭勒盟</a>
                              <a href=" /city/city/xiamen">厦门</a>
                              <a href=" /city/city/xining">西宁</a>
                              <a href=" /city/city/xianning">咸宁</a>
                              <a href=" /city/city/xishuangbanna">西双版纳</a>
                              <a href=" /city/city/xingtai">邢台</a>
                              <a href=" /city/city/xiantao">仙桃</a>
                              <a href=" /city/city/xiangtan">湘潭</a>
                              <a href=" /city/city/xinxiang">新乡</a>
                              <a href=" /city/city/xiangxi">湘西</a>
                              <a href=" /city/city/xinyu">新余</a>
                              <a href=" /city/city/xinyang">信阳</a>
                              <a href=" /city/city/xianyang">咸阳</a>
                              <a href=" /city/city/xinzhou">忻州</a>
                              <a href=" /city/city/xuzhou">徐州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>Y</dt>
            <dd>
                              <a href="/city/city/yanan">延安</a>
                              <a href="/city/city/yaan">雅安</a>
                              <a href="/city/city/yanbian">延边</a>
                              <a href="/city/city/yibin">宜宾</a>
                              <a href="/city/city/yuncheng">运城</a>
                              <a href="/city/city/yichun">伊春</a>
                              <a href="/city/city/yancheng">盐城</a>
                              <a href="/city/city/jxyichun">宜春</a>
                              <a href="/city/city/yichang">宜昌</a>
                              <a href="/city/city/yinchuan">银川</a>
                              <a href="/city/city/yunfu">云浮</a>
                              <a href="/city/city/yangjiang">阳江</a>
                              <a href="/city/city/yingkou">营口</a>
                              <a href="/city/city/yili">伊犁</a>
                              <a href="/city/city/yulin">榆林</a>
                              <a href="/city/city/gxyulin">玉林</a>
                              <a href="/city/city/yangquan">阳泉</a>
                              <a href="/city/city/yushu">玉树</a>
                              <a href="/city/city/yingtan">鹰潭</a>
                              <a href="/city/city/yantai">烟台</a>
                              <a href="/city/city/yuxi">玉溪</a>
                              <a href="/city/city/yueyang">岳阳</a>
                              <a href="/city/city/yiyang">益阳</a>
                              <a href="/city/city/yangzhou">扬州</a>
                              <a href="/city/city/yongzhou">永州</a>
                
            </dd>
        </dl>
                                <dl>
            <dt>Z</dt>
            <dd>
                              <a href="/city/city/zibo">淄博</a>
                              <a href="/city/city/zigong">自贡</a>
                              <a href="/city/city/zhuhai">珠海</a>
                              <a href="/city/city/zhenjiang">镇江</a>
                              <a href="/city/city/zhanjiang">湛江</a>
                              <a href="/city/city/zhangjiajie">张家界</a>
                              <a href="/city/city/zhangjiakou">张家口</a>
                              <a href="/city/city/zhoukou">周口</a>
                              <a href="/city/city/zhumadian">驻马店</a>
                              <a href="/city/city/chongqing">重庆</a>
                              <a href="/city/city/zhaoqing">肇庆</a>
                              <a href="/city/city/zhoushan">舟山</a>
                              <a href="/city/city/zhongshan">中山</a>
                              <a href="/city/city/zhongwei">中卫</a>
                              <a href="/city/city/zhangye">张掖</a>
                              <a href="/city/city/zunyi">遵义</a>
                              <a href="/city/city/ziyang">资阳</a>
                              <a href="/city/city/zhangzhou">漳州</a>
                              <a href="/city/city/zaozhuang">枣庄</a>
                              <a href="/city/city/zhengzhou">郑州</a>
                              <a href="/city/city/zhuzhou">株洲</a>
             
                
            </dd>
        </dl>
    </div>
</div>

</body>
</html>
<style type="text/css">
    .s_main
    {
        margin: 0 auto;
        width: 960px;
        height: 500px;
		font-size:12px;
    }
    .all_city dl dt
    {
        color: #6694E3;
        font-weight: bold;
        padding-bottom: 11px;
        width: 22px;

		
    }
    .all_city dd
    {
        float: left;
        margin: 0;
    }
	.all_city dl {
    overflow: hidden;
}
</style>

