<a href="http://www.chimelong.com/" target="_blank">
    <img src="/images/2011_cl.jpg" />
</a><a href="http://bj.happyvalley.cn/activity/2012sswhj/index.shtml" target="_blank">
    <img src="/images/2012_bj.jpg" /></a> <a href="http://www.octjstz.com/Octjstz/activity/2012yhwq/index.shtml"
        target="_blank">
        <img src="/images/2012_tx.jpg" />
    </a><a href="http://www.chinabaohulu.com/" target="_blank">
        <img src="/images/2012_bhl.jpg" /></a>