<?xml version="1.0"?>

<!--注意：配置文件必须放在网站的根目录-->
<!--注意：配置文件字母是区分大小写的。命名规则：第一单词首字母小写，第二单词首字母大家-->
<configuration>
  <base>
    <!--日志保存目录 请确认此文件夹具有写权限-->
    <apiLogPath>/SinaAPILogs</apiLogPath>
    <!--缓存模式：Session|Cookies|Cache 默认Session-->
    <apiCacheMode>Session</apiCacheMode>
    <!--缓存过期超时 单位：分钟 默认：1440分钟-->
    <apiCacheTimeout>1440</apiCacheTimeout>
  </base>
  <application>
    <!--第一个应用
    app_1:自定义名称，可修改。在RegsterKey时使用。
    配置第二个应用时只添加一个新的app节点即可
    -->
    <app_1>
      <!--
      clientId: 申请应用时分配的AppKey。
      clientSecret: 申请应用时分配的AppSecret。
      redirectUri: 应用回调页，当用户授权你的应用后，开放平台会回调你填写的这个地址
      -->
      <clientId></clientId>
      <clientSecret></clientSecret>
      <redirectUri></redirectUri>
    </app_1>
    <pp_2>
      <!--
      配置第二个应用时只添加一个新的app节点即可
      -->
      <clientId></clientId>
      <clientSecret></clientSecret>
      <redirectUri></redirectUri>
    </pp_2>
  </application>
</configuration>
