@{
    var discountService = iPow.Presentation.jq.iPowPreJqEngine.Current.Resolve<
        iPow.Infrastructure.Crosscutting.Comm.Service.IDiscountService>();
}
<!--页面广告开始-->
<div class="mainContainer">
    <div class="adLeft">
        <a href="http://p.ipow.cn/ipow_tour.apk" title="互动旅行下载">
            <img src="/images/ipowjzn.jpg" border="0" />
        </a>
    </div>
    <div class="adRight">
        @{
            var temp = discountService.GetDiscount();
            foreach (var item in temp)
            {
            <a href="javascript:;" target="_blank" title="@item.Title">
                @(item.Title.Length > 13 ? item.Title.Substring(0, 12) : item.Title)
            </a>    
            }
        }
    </div>
    <div class="clear">
    </div>
</div>
<!--页面广告结束-->
