@{
var hotKeyWordService =iPow.Presentation.dj.iPowPreDjEngine.Current.Resolve<
    iPow.Application.dj.Service.IHotKeyWordsService>();
}

<div class="weatherGuid" style="height: 29px;">
    <h2 id="areaWeather">
        热门关键字</h2>
</div>
@*weatherPanel*@
<div id="weatherPanel" class="searchRightAll">
    <div class="head">
    </div>
    <div class="mid">
        @{
            var keys = hotKeyWordService.GetHotKeyWordsList(8);
            foreach (var item in keys)
            {
            @Html.ActionLink(item,"Result","Search",
            new
            {
                b = Server.UrlEncode(item),
                d = 3,
                t = string.Empty,
                p = 1475,
                pi = 1
            },null)
            <br />
            }
        }
    </div>
    <div class="bottom">
    </div>
</div>
