<div class="k">
</div>
<div id="footer" class="center blue" style="padding: 10px 0 4px 0;">
    &copy;2009- <a href="http://www.ipow.cn/about/privacy.shtml" target="_blank">隐私政策</a>-
    <a href="http://www.miibeian.gov.cn/" target="_blank">@(Model.Icp)</a>
</div>
<div style="display: none;">
    <script language="javascript" src="http://count27.51yes.com/click.aspx?id=271161419&logo=12"></script>
    <script src="http://s89.cnzz.com/stat.php?id=1773367&web_id=1773367" language="JavaScript"
        charset="gb2312"></script>
</div>
