<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false" />
  </telerik>
  <connectionStrings>
    <!--这个是在加班的哈-->
    <!--<add name="ipowsysEntities" connectionString="metadata=res://*/iPowSysModel.csdl|res://*/iPowSysModel.ssdl|res://*/iPowSysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=YJIHRP-PC\SQLSERVERR2;Initial Catalog=ipowsys2;Persist Security Info=True;User ID=sa;Password=qwertyuiop[]\;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--这个是在公司的哈-->
    <!--<add name="ipowsysEntities" connectionString="metadata=res://*/iPowSysModel.csdl|res://*/iPowSysModel.ssdl|res://*/iPowSysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=127.0.0.1;Initial Catalog=ipowsys2;Persist Security Info=True;User ID=sa;Password=][poiuytrewq;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--这个是在公司内网的哈-->
    <add name="ipowsysEntities" connectionString="metadata=res://*/iPowSysModel.csdl|res://*/iPowSysModel.ssdl|res://*/iPowSysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.8.173;Initial Catalog=ipowsys2;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--这个是在服务器上的内网哈-->
    <!--<add name="ipowsysEntities" connectionString="metadata=res://*/iPowSysModel.csdl|res://*/iPowSysModel.ssdl|res://*/iPowSysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.10;Initial Catalog=ipowsys2;Persist Security Info=True;User ID=sa;Password=hdl@ipow#05&amp;2010;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ssoLogOnUrl" value="http://sso.ipow.cn/auth/logon" />
    <add key="ssoLogOffUrl" value="http://sso.ipow.cn/auth/logoff" />
    <add key="ssoTokenUrl" value="http://sso.ipow.cn/auth/token" />
    <add key="unioncityproivderfullpath" value="~/configfiles/CityProvider.txt" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="RouteDebugger:Enabled" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </handlers>
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
      </profiles>
    </caching>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAuthenticationService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sso.ipow.cn/AuthenticationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticationService" contract="AuthService.IAuthenticationService" name="WSHttpBinding_IAuthenticationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.Mvc" publicKeyToken="29ac1a93ec063d92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2011.3.1115.340" newVersion="2011.3.1115.340" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>