<style type="text/css">
    .s_main
    {
        margin: 0 auto;
        width: 960px;
        font-size: 12px;
    }
    .all_city dl dt
    {
        color: #6694E3;
        font-weight: bold;
        padding-bottom: 11px;
        width: 22px;
    }
    .all_city dd
    {
        float: left;
        margin: 0;
    }
    .all_city dl
    {
        overflow: hidden;
    }
</style>
<div class="s_main">
    <h4>
        按照拼音首字母选择</h4>
    <div class="all_city">
        <dl>
            <dt>A</dt>
            <dd>
                <a href="/city/tour/aba">阿坝</a> <a href="/city/tour/ankang">安康</a> <a href="/city/tour/akesu">
                    阿克苏</a> <a href="/city/tour/ali">阿里</a> <a href="/city/tour/alaer">阿拉尔</a> <a href="/city/tour/alashanmeng">
                        阿拉善盟</a> <a href="/city/tour/aletai">阿勒泰</a> <a href="/city/tour/aomen">澳门</a>
                <a href="/city/tour/anqing">安庆</a> <a href="/city/tour/anshan">鞍山</a> <a href="/city/tour/anshun">
                    安顺</a> <a href="/city/tour/anyang">安阳</a>
            </dd>
        </dl>
        <dl>
            <dt>B</dt>
            <dd>
                <a href="/city/tour/bangbu">蚌埠</a> <a href="/city/tour/baicheng">白城</a> <a href="/city/tour/baoding">
                    保定</a> <a href="/city/tour/boertala">博尔塔拉</a> <a href="/city/tour/beihai">北海</a>
                <a href="/city/tour/bj">北京</a> <a href="/city/tour/baoji">宝鸡</a> <a href="/city/tour/bijie">
                    毕节</a> <a href="/city/tour/baishan">白山</a> <a href="/city/tour/baise">百色</a>
                <a href="/city/tour/baoshan">保山</a> <a href="/city/tour/baotou">包头</a> <a href="/city/tour/benxi">
                    本溪</a> <a href="/city/tour/baiyin">白银</a> <a href="/city/tour/bayinguole">巴音郭勒</a>
                <a href="/city/tour/bayannaoermeng">巴彦淖尔盟</a> <a href="/city/tour/haozhou">亳州</a>
                <a href="/city/tour/binzhou">滨州</a> <a href="/city/tour/bazhong">巴中</a>
            </dd>
        </dl>
        <dl>
            <dt>C</dt>
            <dd>
                <a href="/city/tour/changchun">长春</a> <a href="/city/tour/chengde">承德</a> <a href="/city/tour/changde">
                    常德</a> <a href="/city/tour/changdu">昌都</a> <a href="/city/tour/chengdu">成都</a>
                <a href="/city/tour/chifeng">赤峰</a> <a href="/city/tour/chaohu">巢湖</a> <a href="/city/tour/changji">
                    昌吉</a> <a href="/city/tour/changsha">长沙</a> <a href="/city/tour/chuxiong">楚雄</a>
                <a href="/city/tour/chaoyang">朝阳</a> <a href="/city/tour/cangzhou">沧州</a> <a href="/city/tour/changzhi">
                    长治</a> <a href="/city/tour/changzhou">常州</a> <a href="/city/tour/chuzhou">滁州</a>
                <a href="/city/tour/chizhou">池州</a> <a href="/city/tour/chenzhou">郴州</a> <a href="/city/tour/chaozhou">
                    潮州</a>
            </dd>
        </dl>
        <dl>
            <dt>D</dt>
            <dd>
                <a href="/city/tour/dandong">丹东</a> <a href="/city/tour/dongguan">东莞</a> <a href="/city/tour/dehong">
                    德宏</a> <a href="/city/tour/dalian">大连</a> <a href="/city/tour/dali">大理</a> <a href="/city/tour/daqing">
                        大庆</a> <a href="/city/tour/diqing">迪庆</a> <a href="/city/tour/datong">大同</a>
                <a href="/city/tour/dingxi">定西</a> <a href="/city/tour/daxinganling">大兴安岭</a> <a
                    href="/city/tour/dongying">东营</a> <a href="/city/tour/deyang">德阳</a> <a href="/city/tour/dezhou">
                        德州</a> <a href="/city/tour/dazhou">达州</a>
            </dd>
        </dl>
        <dl>
            <dt>E</dt>
            <dd>
                <a href="/city/tour/eerduosishi">鄂尔多斯市</a> <a href="/city/tour/enshi">恩施</a> <a href="/city/tour/ezhou">
                    鄂州</a>
            </dd>
        </dl>
        <dl>
            <dt>F</dt>
            <dd>
                <a href="/city/tour/fangchenggang">防城港</a> <a href="/city/tour/fushun">抚顺</a> <a
                    href="/city/tour/foshan">佛山</a> <a href="/city/tour/fuxin">阜新</a> <a href="/city/tour/fuyang">
                        阜阳</a> <a href="/city/tour/fjfuzhou">福州</a> <a href="/city/tour/fuzhou">抚州</a>
            </dd>
        </dl>
        <dl>
            <dt>G</dt>
            <dd>
                <a href="/city/tour/guangan">广安</a> <a href="/city/tour/guigang">贵港</a> <a href="/city/tour/guoluo">
                    果洛</a> <a href="/city/tour/guilin">桂林</a> <a href="/city/tour/gannan">甘南</a>
                <a href="/city/tour/guyuan">固原</a> <a href="/city/tour/guiyang">贵阳</a> <a href="/city/tour/guangyuan">
                    广元</a> <a href="/city/tour/ganzhou">赣州</a> <a href="/city/tour/guangzhou">广州</a>
                <a href="/city/tour/ganzi">甘孜</a>
            </dd>
        </dl>
        <dl>
            <dt>H</dt>
            <dd>
                <a href="/city/tour/huaian">淮安</a> <a href="/city/tour/huaibei">淮北</a> <a href="/city/tour/hebi">
                    鹤壁</a> <a href="/city/tour/haibei">海北</a> <a href="/city/tour/hechi">河池</a>
                <a href="/city/tour/handan">邯郸</a> <a href="/city/tour/haidong">海东</a> <a href="/city/tour/haerbin">
                    哈尔滨</a> <a href="/city/tour/hefei">合肥</a> <a href="/city/tour/hegang">鹤岗</a>
                <a href="/city/tour/huanggang">黄冈</a> <a href="/city/tour/heihe">黑河</a> <a href="/city/tour/huaihua">
                    怀化</a> <a href="/city/tour/honghe">红河</a> <a href="/city/tour/huhehaote">呼和浩特</a>
                <a href="/city/tour/haikou">海口</a> <a href="/city/tour/hulunbeiershi">呼伦贝尔市</a>
                <a href="/city/tour/huludao">葫芦岛</a> <a href="/city/tour/hami">哈密</a> <a href="/city/tour/huainan">
                    淮南</a> <a href="/city/tour/hainan">海南</a> <a href="/city/tour/hengshui">衡水</a>
                <a href="/city/tour/huangshan">黄山</a> <a href="/city/tour/huangshi">黄石</a> <a href="/city/tour/hetian">
                    和田</a> <a href="/city/tour/haixi">海西</a> <a href="/city/tour/hengyang">衡阳</a>
                <a href="/city/tour/heyuan">河源</a> <a href="/city/tour/hangzhou">杭州</a> <a href="/city/tour/huzhou">
                    湖州</a> <a href="/city/tour/heze">菏泽</a> <a href="/city/tour/hanzhong">汉中</a>
                <a href="/city/tour/huizhou">惠州</a> <a href="/city/tour/hezhou">贺州</a>
            </dd>
        </dl>
        <dl>
            <dt>J</dt>
            <dd>
                <a href="/city/tour/jian">吉安</a> <a href="/city/tour/jincheng">晋城</a> <a href="/city/tour/jinchang">
                    金昌</a> <a href="/city/tour/jingdezhen">景德镇</a> <a href="/city/tour/jinhua">金华</a>
                <a href="/city/tour/jiujiang">九江</a> <a href="/city/tour/jilin">吉林</a> <a href="/city/tour/jingmen">
                    荆门</a> <a href="/city/tour/jiangmen">江门</a> <a href="/city/tour/jiamusi">佳木斯</a>
                <a href="/city/tour/jinan">济南</a> <a href="/city/tour/jining">济宁</a> <a href="/city/tour/jiuquan">
                    酒泉</a> <a href="/city/tour/jixi">鸡西</a> <a href="/city/tour/jiaxing">嘉兴</a>
                <a href="/city/tour/jiyuan">济源</a> <a href="/city/tour/jieyang">揭阳</a> <a href="/city/tour/jiayuguan">
                    嘉峪关</a> <a href="/city/tour/jinzhong">晋中</a> <a href="/city/tour/jinzhou">锦州</a>
                <a href="/city/tour/jiaozuo">焦作</a> <a href="/city/tour/jingzhou">荆州</a>
            </dd>
        </dl>
        <dl>
            <dt>K</dt>
            <dd>
                <a href="/city/tour/kaifeng">开封</a> <a href="/city/tour/kelamayi">克拉玛依</a> <a href="/city/tour/kunming">
                    昆明</a> <a href="/city/tour/kashi">喀什</a> <a href="/city/tour/kezilesukeerkezi">克孜勒苏柯尔克孜</a>
            </dd>
        </dl>
        <dl>
            <dt>L</dt>
            <dd>
                <a href="/city/tour/liuan">六安</a> <a href="/city/tour/laibin">来宾</a> <a href="/city/tour/liaocheng">
                    聊城</a> <a href="/city/tour/lincang">临沧</a> <a href="/city/tour/loudi">娄底</a>
                <a href="/city/tour/langfang">廊坊</a> <a href="/city/tour/linfen">临汾</a> <a href="/city/tour/luohe">
                    漯河</a> <a href="/city/tour/lijiang">丽江</a> <a href="/city/tour/lvliang">吕梁</a>
                <a href="/city/tour/longnan">陇南</a> <a href="/city/tour/liupanshui">六盘水</a> <a href="/city/tour/lishui">
                    丽水</a> <a href="/city/tour/lasa">拉萨</a> <a href="/city/tour/leshan">乐山</a> <a href="/city/tour/liangshan">
                        凉山</a> <a href="/city/tour/laiwu">莱芜</a> <a href="/city/tour/linxia">临夏</a>
                <a href="/city/tour/liaoyang">辽阳</a> <a href="/city/tour/liaoyuan">辽源</a> <a href="/city/tour/longyan">
                    龙岩</a> <a href="/city/tour/linyi">临沂</a> <a href="/city/tour/luoyang">洛阳</a>
                <a href="/city/tour/lianyungang">连云港</a> <a href="/city/tour/lanzhou">兰州</a> <a href="/city/tour/linzhi">
                    林芝</a> <a href="/city/tour/liuzhou">柳州</a> <a href="/city/tour/luzhou">泸州</a>
            </dd>
        </dl>
        <dl>
            <dt>M</dt>
            <dd>
                <a href="/city/tour/maanshan">马鞍山</a> <a href="/city/tour/mudanjiang">牡丹江</a> <a
                    href="/city/tour/maoming">茂名</a> <a href="/city/tour/meishan">眉山</a> <a href="/city/tour/mianyang">
                        绵阳</a> <a href="/city/tour/meizhou">梅州</a>
            </dd>
        </dl>
        <dl>
            <dt>N</dt>
            <dd>
                <a href="/city/tour/ningbo">宁波</a> <a href="/city/tour/nanchang">南昌</a> <a href="/city/tour/nanchong">
                    南充</a> <a href="/city/tour/ningde">宁德</a> <a href="/city/tour/nanjing">南京</a>
                <a href="/city/tour/neijiang">内江</a> <a href="/city/tour/nujiang">怒江</a> <a href="/city/tour/nanning">
                    南宁</a> <a href="/city/tour/nanping">南平</a> <a href="/city/tour/naqu">那曲</a>
                <a href="/city/tour/nantong">南通</a> <a href="/city/tour/nanyang">南阳</a>
            </dd>
        </dl>
        <dl>
            <dt>P</dt>
            <dd>
                <a href="/city/tour/pingdingshan">平顶山</a> <a href="/city/tour/panjin">盘锦</a> <a href="/city/tour/pingliang">
                    平凉</a> <a href="/city/tour/putian">莆田</a> <a href="/city/tour/pingxiang">萍乡</a>
                <a href="/city/tour/puyang">濮阳</a> <a href="/city/tour/panzhihua">攀枝花</a>
            </dd>
        </dl>
        <dl>
            <dt>Q</dt>
            <dd>
                <a href="/city/tour/qingdao">青岛</a> <a href="/city/tour/qiandongnan">黔东南</a> <a href="/city/tour/qinhuangdao">
                    秦皇岛</a> <a href="/city/tour/qianjiang">潜江</a> <a href="/city/tour/qujing">曲靖</a>
                <a href="/city/tour/qiannan">黔南</a> <a href="/city/tour/qiqihaer">齐齐哈尔</a> <a href="/city/tour/qitaihe">
                    七台河</a> <a href="/city/tour/qianxinan">黔西南</a> <a href="/city/tour/qingyang">庆阳</a>
                <a href="/city/tour/qingyuan">清远</a> <a href="/city/tour/zhou">衢州</a> <a href="/city/tour/quanzhou">
                    泉州</a> <a href="/city/tour/qinzhou">钦州</a>
            </dd>
        </dl>
        <dl>
            <dt>R</dt>
            <dd>
                <a href="/city/tour/rikaze">日喀则</a> <a href="/city/tour/rizhao">日照</a>
            </dd>
        </dl>
        <dl>
            <dt>S</dt>
            <dd>
                <a href="/city/tour/simao">思芧</a> <a href="/city/tour/shaoguan">韶关</a> <a href="/city/tour/shanghai">
                    上海</a> <a href="/city/tour/suihua">绥化</a> <a href="/city/tour/shihezi">石河子</a>
                <a href="/city/tour/shijiazhuang">石家庄</a> <a href="/city/tour/shangluo">商洛</a> <a
                    href="/city/tour/shenlongjialinqu">神龙架林区</a> <a href="/city/tour/sanming">三明</a>
                <a href="/city/tour/sanmenxia">三门峡</a> <a href="/city/tour/shannan">山南</a> <a href="/city/tour/suining">
                    遂宁</a> <a href="/city/tour/siping">四平</a> <a href="/city/tour/suqian">宿迁</a>
                <a href="/city/tour/shangqiu">商丘</a> <a href="/city/tour/shangrao">上饶</a> <a href="/city/tour/shantou">
                    汕头</a> <a href="/city/tour/shanwei">汕尾</a> <a href="/city/tour/shaoxing">绍兴</a>
                <a href="/city/tour/shenyang">沈阳</a> <a href="/city/tour/songyuan">松原</a> <a href="/city/tour/shiyan">
                    十堰</a> <a href="/city/tour/shaoyang">邵阳</a> <a href="/city/tour/sanya">三亚</a>
                <a href="/city/tour/shuangyashan">双鸭山</a> <a href="/city/tour/shuozhou">朔州</a> <a
                    href="/city/tour/suzhou">苏州</a> <a href="/city/tour/ahsz">宿州</a> <a href="/city/tour/suizhou">
                        随州</a> <a href="/city/tour/shenzhen">深圳</a> <a href="/city/tour/suizuo">祟左</a>
                <a href="/city/tour/shizuishan">石嘴山</a>
            </dd>
        </dl>
        <dl>
            <dt>T</dt>
            <dd>
                <a href="/city/tour/taian">泰安</a> <a href="/city/tour/tacheng">塔城</a> <a href="/city/tour/tongchuan">
                    铜川</a> <a href="/city/tour/tonghua">通化</a> <a href="/city/tour/tianjin">天津</a>
                <a href="/city/tour/tieling">铁岭</a> <a href="/city/tour/tongling">铜陵</a> <a href="/city/tour/tulufan">
                    吐鲁番</a> <a href="/city/tour/tongliaoshi">通辽市</a> <a href="/city/tour/tianmen">天门</a>
                <a href="/city/tour/tumushuke">图木舒克</a> <a href="/city/tour/tongren">铜仁</a> <a href="/city/tour/tangshan">
                    唐山</a> <a href="/city/tour/tianshui">天水</a> <a href="/city/tour/taiwan">台湾</a>
                <a href="/city/tour/taiyuan">太原</a> <a href="/city/tour/taizhou">泰州</a> <a href="/city/tour/taizh">
                    台州</a>
            </dd>
        </dl>
        <dl>
            <dt>W</dt>
            <dd>
                <a href="/city/tour/weifang">潍坊</a> <a href="/city/tour/wuhai">乌海</a> <a href="/city/tour/wuhu">
                    芜湖</a> <a href="/city/tour/weihai">威海</a> <a href="/city/tour/wuhan">武汉</a>
                <a href="/city/tour/wujiaqu">五家渠</a> <a href="/city/tour/wulanchabumeng">乌兰察布盟</a>
                <a href="/city/tour/wulumuqi">乌鲁木齐</a> <a href="/city/tour/weinan">渭南</a> <a href="/city/tour/wenshan">
                    文山</a> <a href="/city/tour/wuwei">武威</a> <a href="/city/tour/wuxi">无锡</a> <a href="/city/tour/wenzhou">
                        温州</a> <a href="/city/tour/wuzhong">吴忠</a> <a href="/city/tour/wuzhou">梧州</a>
            </dd>
        </dl>
        <dl>
            <dt>X</dt>
            <dd>
                <a href=" /city/tour/xian">西安</a> <a href=" /city/tour/xinganmeng">兴安盟</a> <a href=" /city/tour/xuancheng">
                    宣城</a> <a href=" /city/tour/xuchang">许昌</a> <a href=" /city/tour/xiangfan">襄樊</a>
                <a href=" /city/tour/xiaogan">孝感</a> <a href=" /city/tour/xianggang">香港</a> <a href=" /city/tour/xilinguolemeng">
                    锡林郭勒盟</a> <a href=" /city/tour/xiamen">厦门</a> <a href=" /city/tour/xining">西宁</a>
                <a href=" /city/tour/xianning">咸宁</a> <a href=" /city/tour/xishuangbanna">西双版纳</a>
                <a href=" /city/tour/xingtai">邢台</a> <a href=" /city/tour/xiantao">仙桃</a> <a href=" /city/tour/xiangtan">
                    湘潭</a> <a href=" /city/tour/xinxiang">新乡</a> <a href=" /city/tour/xiangxi">湘西</a>
                <a href=" /city/tour/xinyu">新余</a> <a href=" /city/tour/xinyang">信阳</a> <a href=" /city/tour/xianyang">
                    咸阳</a> <a href=" /city/tour/xinzhou">忻州</a> <a href=" /city/tour/xuzhou">徐州</a>
            </dd>
        </dl>
        <dl>
            <dt>Y</dt>
            <dd>
                <a href="/city/tour/yanan">延安</a> <a href="/city/tour/yaan">雅安</a> <a href="/city/tour/yanbian">
                    延边</a> <a href="/city/tour/yibin">宜宾</a> <a href="/city/tour/yuncheng">运城</a>
                <a href="/city/tour/yichun">伊春</a> <a href="/city/tour/yancheng">盐城</a> <a href="/city/tour/jxyichun">
                    宜春</a> <a href="/city/tour/yichang">宜昌</a> <a href="/city/tour/yinchuan">银川</a>
                <a href="/city/tour/yunfu">云浮</a> <a href="/city/tour/yangjiang">阳江</a> <a href="/city/tour/yingkou">
                    营口</a> <a href="/city/tour/yili">伊犁</a> <a href="/city/tour/yulin">榆林</a> <a href="/city/tour/gxyulin">
                        玉林</a> <a href="/city/tour/yangquan">阳泉</a> <a href="/city/tour/yushu">玉树</a>
                <a href="/city/tour/yingtan">鹰潭</a> <a href="/city/tour/yantai">烟台</a> <a href="/city/tour/yuxi">
                    玉溪</a> <a href="/city/tour/yueyang">岳阳</a> <a href="/city/tour/yiyang">益阳</a>
                <a href="/city/tour/yangzhou">扬州</a> <a href="/city/tour/yongzhou">永州</a>
            </dd>
        </dl>
        <dl>
            <dt>Z</dt>
            <dd>
                <a href="/city/tour/zibo">淄博</a> <a href="/city/tour/zigong">自贡</a> <a href="/city/tour/zhuhai">
                    珠海</a> <a href="/city/tour/zhenjiang">镇江</a> <a href="/city/tour/zhanjiang">湛江</a>
                <a href="/city/tour/zhangjiajie">张家界</a> <a href="/city/tour/zhangjiakou">张家口</a>
                <a href="/city/tour/zhoukou">周口</a> <a href="/city/tour/zhumadian">驻马店</a> <a href="/city/tour/chongqing">
                    重庆</a> <a href="/city/tour/zhaoqing">肇庆</a> <a href="/city/tour/zhoushan">舟山</a>
                <a href="/city/tour/zhongshan">中山</a> <a href="/city/tour/zhongwei">中卫</a> <a href="/city/tour/zhangye">
                    张掖</a> <a href="/city/tour/zunyi">遵义</a> <a href="/city/tour/ziyang">资阳</a>
                <a href="/city/tour/zhangzhou">漳州</a> <a href="/city/tour/zaozhuang">枣庄</a> <a href="/city/tour/zhengzhou">
                    郑州</a> <a href="/city/tour/zhuzhou">株洲</a>
            </dd>
        </dl>
    </div>
</div>
