@{
    List<iPow.Application.Union.Dto.TodayLowPriceDto> data = null;

    iPow.Service.Union.Service.ICityService cityService = iPow.Presentation.Union.iPowPreUnionEngine
        .Current.Resolve<iPow.Service.Union.Service.ICityService>();

    iPow.Service.Union.Service.ITodayLowPriceService todayLowPriceService = iPow.Presentation.Union.iPowPreUnionEngine
        .Current.Resolve<iPow.Service.Union.Service.ITodayLowPriceService>();

    var localtionService = iPow.Presentation.Union.iPowPreUnionEngine.Current.Resolve<iPow.Infrastructure.Crosscutting.Comm.Service.ILocationService>();

    var li = localtionService.GetLocationInfo();
    if (li != null)
    {
        var cityId = cityService.GetUnionCityIdByName(string.IsNullOrEmpty(li.City) ? "深圳" : li.City);
        if (cityId > 0)
        {
            data = todayLowPriceService.GetUnionTodayLowPriceByCityIdAndType(cityId.ToString(), "0", true, 5);
        }
    }

    if (data != null && data.Count > 0)
    {
        foreach (var item in data)
        {
    <ul>
        <li><a href="/hotel/@(item.id)" class="aRightList" target="_blank"
            title="@item.name"><span>@(item.name.Length > 12 ? item.name.Substring(0, 12) : item.name)</span>
            <em><font class="font16">￥@(item.price)/</font><font class="font12">起</font></em>
        </a></li>
    </ul>         
        }
    }
    else
    {
    <ul>
        暂时没有数据
    </ul>
    }
}
