<div class="pageBottom2">
    <div class="pageBottom2Left">
    </div>
    <div class="pageBottom2Mid">
        <p>
            <a href="http://www.ipow.cn/ipowabout/aboutus.htm" target="_blank" title="About Us">
                About Us </a>| <a href="http://www.ipow.cn/about/aboutus.shtml" target="_blank" title="关于互动力">
                    关于互动力 </a>| <a href="http://www.ipow.cn/ipowabout/yy.htm" target="_blank" title="互动行销">
                        互动行销 </a>| <a href="http://www.ipow.cn/about/privacy.shtml" target="_blank" title="私隐政策">
                            私隐政策 </a>| <a href="http://www.ipow.cn/about/linkus.shtml" target="_blank" title="联系我们">
                                联系我们 </a>| <a href="http://www.ipow.cn/about/agreement.shtml" target="_blank" title="使用协议">
                                    使用协议 </a>| <a href="http://www.ipow.cn/about/copyright.shtml" target="_blank" title="版权声明">
                                        版权声明 </a>| <a href="http://www.ipow.cn/about/job.shtml" target="_blank" title="诚聘英才">
                                            诚聘英才 </a>| <a href="http://www.ipow.cn/about/together.shtml" title="合作渠道" target="_blank">
                                                合作渠道 </a>| <a href="http://www.ipow.cn/about/links.shtml" title="友情链接" target="_blank">
                                                    友情链接 </a>
            <br />
            ipow.cn 2009 版权所有 不得转载 &nbsp;<a href="http://www.ipow.cn/ipowabout/yy.htm" style="color: #795205"
                target="_blank">[互动 行销] </a>&nbsp;&nbsp; <a href="http://www.miibeian.gov.cn" style="color: #795205"
                    target="_blank">粤ICP备09209280号</a>
        </p>
    </div>
    <div class="pageBottom2Right">
    </div>
</div>
<div class="clear">
</div>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-7332262-1");
        pageTracker._trackPageview();
    } catch (err) { }</script>
