@{
    ViewBag.Title = "LogOff";
}
<h2>
    LogOff</h2>
<script type="text/javascript">
    $(function () {
        $.get('http://account.Miaow.cn/server/SSOService.svc/user/Logout?callback=?', {},
				function (ssodata) {
				    document.location = '/home/';
				}, 'jsonp');
    });
</script>
