<?xml version="1.0" encoding="utf-8" ?>

<!--注意：配置文件必须放在网站的根目录-->
<!--注意：配置文件是区分大小写的。-->
<!--版本：我不忙-腾讯微博OAuth2.0SDK演示V2.1.0622-->
<!--文档：http://wobumang.com/afx -->
<configuration>
  <base>
    <!--DES加密/解密KEY-->
    <!--使用Cookie缓存时为提高安全性，请务必自行修改-->
    <desKey>dsWBM123</desKey>
  </base>
  <app>
    <!--第一个应用
    my_app: 自定义名称，可修改。
    配置第二个应用时只添加一个新的app节点即可
    -->
    <!--
    提示：未通过审核的APPKey调试时，可以使用修改hosts文件加IIS来模拟实现测试。
    1、例如：hosts文件加入以下代码
        本地地址      页面实际地址(和平台上的一致)
        127.0.0.1     app.wobumang.com      
    2、IIS网站主机头填写app.wobumang.com
    3、浏览器直接输入http://app.wobumang.com就可以调试本地网站了
    -->
    <my_app>
      <!--
      clientId: 申请应用时分配的AppKey。
      clientSecret: 申请应用时分配的AppSecret。
      redirectUri: 应用回调页，当用户授权你的应用后，开放平台会回调你填写的这个地址
      -->
      <clientId>801176666</clientId>
      <clientSecret>855818922405d09713a532aa1173ebc1</clientSecret>
      <redirectUri>http://app.wobumang.com/redirecturi.aspx</redirectUri>
    </my_app>
  </app>
  <api>
    <!--OAUTH2.0协议接口-->
    <authorize>https://open.t.qq.com/cgi-bin/oauth2/authorize</authorize>
    <access_token>https://open.t.qq.com/cgi-bin/oauth2/access_token</access_token>
    <!--OAUTH2.0协议接口-->

    <!--API接口 必须使用https协议-->
    <!--API接口使用方法和参数请参数官方文档：http://wiki.open.t.qq.com/index.php/API%E6%96%87%E6%A1%A3 -->
    <!--错误误请参照地址：http://wiki.open.t.qq.com/index.php/OAuth2.0%E9%89%B4%E6%9D%83/%E9%94%99%E8%AF%AF%E7%A0%81%E8%AF%B4%E6%98%8E -->

    <!--用户相关接口-->
    <user_info>https://open.t.qq.com/api/user/info</user_info>
    <friends_fanslist>https://open.t.qq.com/api/friends/fanslist</friends_fanslist>
    <!--用户相关接口-->

    <!--时间线接口-->
    <statuses_broadcast_timeline>https://open.t.qq.com/api/statuses/broadcast_timeline</statuses_broadcast_timeline>
    <!--时间线接口-->
    
    <!--微博相关接口-->
    <t_show>https://open.t.qq.com/api/t/show</t_show>
    <t_add>https://open.t.qq.com/api/t/add</t_add>
    <t_add_pic>https://open.t.qq.com/api/t/add_pic</t_add_pic>
    <!--微博相关接口-->

    <!--API接口 必须使用https协议-->

  
</api>
</configuration>