<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ipowsysEntities" connectionString="metadata=res://*/iPowSysModel.csdl|res://*/iPowSysModel.ssdl|res://*/iPowSysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.8.173;Initial Catalog=ipowsys2;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <!--本机的连接-->
    <add name="iPow.Infrastructure.Data.DataSys.Properties.Settings.miaowsysConnectionString"
      connectionString="Data Source=.;Initial Catalog=miaowsys;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
